<a href="https://colab.research.google.com/github/EderDataDriven/EderDataDriven/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 
Guía Rápida
[PEP 8 ](https://ellibrodepython.com/python-pep8)

[dataset](https://raw.githubusercontent.com/jsaraujo5081/CursoPythonConfenalco/data/Data_Matriculacion.csv)

# ¿Qué es python?
Python es un lenguaje de programacion interpretado, multi paradigma y creado para hacer de la programación una implementación mas sencilla de sentencias.

# Variables

In [159]:
x = 2.4
y = "este es un Mensaje"
y

'este es un Mensaje'

In [160]:
x

2.4

In [161]:
print(x)
print(y)

2.4
este es un Mensaje

In [162]:
print(x, y)

2.4 este es un Mensaje

In [163]:
print(type(x))
z = 2,2
m = 2
print(type(z))
print(z)

<class 'float'>
<class 'tuple'>
(2, 2)

In [164]:
z = 3
z

3

In [165]:
print(z)

3

# Variables lógicas

In [166]:
"""
Comentario tipo Parrafo
Las variables lógicas hacen parte de la clase booleanas, es decir me retornan 
verdadero o falso
"""

a = 2
b = 2
print(a == 2 and b == 2)   # a "y" b son iguales a 2
print(a != 3 or b != 3)    # a "o" b son son diferentes a 3


"""
los dos signos == hacen referencia a una comparación, 
mientras que uno solo = indica que es una asignación.
el signo != significa diferente.
"""

True
True

'\nlos dos signos == hacen referencia a una comparación, \nmientras que uno solo = indica que es una asignación.\nel signo != significa diferente.\n'

# Colecciones en Python (Objetos)
Una colección es una forma de organizar multiples valores en un variables, tuplas, listas, diccionarios, conjuntos, etc

In [167]:
# Tuplas:
c = 2,4, 2.5, 4, 1 , 6 , 3 , 0, 'Hola'
print(c, type(c))

(2, 4, 2.5, 4, 1, 6, 3, 0, 'Hola') <class 'tuple'>

In [168]:
# Listas:
d = [8,'Hola', 3.7, 'Alumno']
print(d, type(d))
# Agregando elementos a la lista:
d.append('Del ITM')
print(d)
e = ['6', 4, 2.9]
print(e)
f = d + e
print(f)

[8, 'Hola', 3.7, 'Alumno'] <class 'list'>
[8, 'Hola', 3.7, 'Alumno', 'Del ITM']
['6', 4, 2.9]
[8, 'Hola', 3.7, 'Alumno', 'Del ITM', '6', 4, 2.9]

In [169]:
# Diccionarios
g = {'clave': 'valor', 9: True}
print(g, type(g))

{'clave': 'valor', 9: True} <class 'dict'>

# Operadores en python

In [16]:
# Sumar= +
print(3 + 4)

# Restar= -
print(3 - 4)

# Multiplicar= *
print(3 * 4)

# Dividir= /
print(12 / 4)

# DividirAbsoluto= //
print(10 // 3)

# Residuos(Mod)= %
print(10 % 6)

# Elevar al numero (potenciación)= **
print(3**3)

7
-1
12
3.0
3
4
27

# Operaciones con Listas

In [171]:
lista_tareas = ['Lavar', 'Limpiar', 'Cocinar', 7]
print(lista_tareas, type(lista_tareas))

['Lavar', 'Limpiar', 'Cocinar', 7] <class 'list'>

In [172]:
h = 'Lorem ipsum parten'
i = 2,3
print(type(i))
len(i)

<class 'tuple'>

2

In [173]:
lista = [d, g, e]
lista

[[8, 'Hola', 3.7, 'Alumno', 'Del ITM'],
 {9: True, 'clave': 'valor'},
 ['6', 4, 2.9]]

## Indexación en listas 
El indice hace referencia a una pocisión. Es decir a una ubicación espacial dentro de la variable

In [174]:
lista_tareas[2]

'Cocinar'

In [175]:
# Ver el tamaño de la lista:
len(lista_tareas)         # len() es la función que me mide el tamaño de una variable de texto o objeto
# Agregar elementos a la lista:
lista_tareas.append('Barrer')

print(lista_tareas,"\n", len(lista_tareas))

['Lavar', 'Limpiar', 'Cocinar', 7, 'Barrer']
 5

In [176]:
# Medir el tamaño de un elemento de la lista
indices_lista = (len(lista_tareas) - 1) 
print('Los indices de la lista_tareas es: ',indices_lista)

Los indices de la lista_tareas es:  4

In [177]:
print(lista_tareas)
lista_tareas.append('Sacar Basura')     # Agrego un elemento al final de la lista
print(lista_tareas)
# Insertando elementos a la lista:
lista_tareas.insert(2, 'Tender la Cama')
print(lista_tareas)

['Lavar', 'Limpiar', 'Cocinar', 7, 'Barrer']
['Lavar', 'Limpiar', 'Cocinar', 7, 'Barrer', 'Sacar Basura']
['Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura']

In [178]:
lista_trabajos = ['Extraer Datos', 'Transformar Datos']
print(lista_trabajos)

['Extraer Datos', 'Transformar Datos']

In [179]:
# Combinar listas:
new_lista = lista_tareas
print(new_lista)
new_lista.extend(lista_trabajos)
print(new_lista)

['Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura']
['Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos']

In [180]:
# Usar append en lugar de extend:
new_lista = lista_tareas
print(new_lista)
new_lista.append(lista_trabajos)
print(new_lista)

['Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos']
['Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos', ['Extraer Datos', 'Transformar Datos']]

In [181]:
# Usar append en lugar de extend:
new_lista = lista_tareas
print(new_lista)
new_lista.insert(0,lista_trabajos)
print(new_lista)

['Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos', ['Extraer Datos', 'Transformar Datos']]
[['Extraer Datos', 'Transformar Datos'], 'Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos', ['Extraer Datos', 'Transformar Datos']]

In [182]:
# Eliminar elementos de la lista:
print(new_lista)
new_lista.pop()        # pop elimina el elemento, pero debo indicarle el indice
print(new_lista)

[['Extraer Datos', 'Transformar Datos'], 'Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos', ['Extraer Datos', 'Transformar Datos']]
[['Extraer Datos', 'Transformar Datos'], 'Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos']

In [190]:
print(new_lista)

['Lavar', 'Limpiar', 'Tender la Cama', 'Cocinar', 7, 'Barrer', 'Sacar Basura', 'Extraer Datos', 'Transformar Datos']

In [193]:
numeros = [-1,4,-2, 8, -3, 5, -4]

In [194]:
numeros

[-1, 4, -2, 8, -3, 5, -4]

In [208]:
# Crear lista tradicionalmente:
numeros_positivos = []
for x in numeros:
  print(x)
  if x > 0:
    numeros_positivos.append(x)
    print(x)
print(numeros_positivos)

-1
4
4
-2
8
8
-3
5
5
-4
[4, 8, 5]

In [211]:
# Podemos crear una lista a partir de una sentencia
num_pos = [x for x in numeros if x > 0]
print(num_pos)

[4, 8, 5]

In [213]:
numeros_negativos = [x for x in numeros if x < 0]
numeros_negativos

[-1, -2, -3, -4]

In [212]:
numeros

[-1, 4, -2, 8, -3, 5, -4]

### Secuencias

secuencia = range(Valorinicial, Valorfinal, paso)

In [214]:
# lista materializable
numeros

[-1, 4, -2, 8, -3, 5, -4]

In [219]:
# Definir una secuencia de valores:
secuencia = range(0,20,2)           # 2,4,6,8,6,..20
secuencia
len(secuencia)

# una secuencia la puedo convertir en una lista:
list(secuencia)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [224]:
sec_10 = range(1, 11)
diez = list(sec_10)
diez

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# Compresión de listas
nombres = ['Eder Lara', 'Helen Lara', 'Tania Rodriguez', 'Juan Porras']
edades = [39, 11, 40, 79]
# [('Eder Lara', 39), ('Helen Lara, 11)]
familia = zip(edades, nombres)
print(list(familia))

[(39, 'Eder Lara'), (11, 'Helen Lara'), (40, 'Tania Rodriguez'), (79, 'Juan Porras')]

In [220]:
[x for x in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
# Podemos cambiar el tipo de dato usando la función del tipo de dato que queremos usar:
numero = 3
print(type(numero))
numero = str(numero)
print(type(numero))

<class 'int'>
<class 'str'>

## Declaraciones y Funciones


*   Lazos - Bucles o ciclos
*   Condicionales
*   Funciones
*   Librerias (numpy, pandas)
*   Ejercicios

Bucle o Lazo = Es una declaración que permite la repetición (o iteración), de fragmentos de código

In [9]:
for x in range(5):              # Parar cierto evento
  print(x)                      # Ejecute
  # Repite hasta que se cumpla el evento

0
1
2
3
4

In [14]:
#Lista con las 9 películas principales de la saga de Star Wars
star_wars = ["Una Nueva Esperanza","El Imperio Contraataca","El Retorno del Jedi","La Amenaza Fantasma","La Guerra de los Clones","La Venganza de los Sith",
             "El Despertar de la Fuerza","Los Ultimos Jedis","El Ascenso de Skywalker"]
# Supongamos que queremos imprimir cada elemento de la lista:
print(star_wars[0])
print(star_wars[1])
print(star_wars[2])
print(star_wars[3])
print(star_wars[4])
print(star_wars[5])
print(star_wars[6])
print(star_wars[7])
print(star_wars[8])

Una Nueva Esperanza
El Imperio Contraataca
El Retorno del Jedi
La Amenaza Fantasma
La Guerra de los Clones
La Venganza de los Sith
El Despertar de la Fuerza
Los Ultimos Jedis
El Ascenso de Skywalker

In [12]:
# Hacerlo eficiente:
for pelicula in star_wars:
  print(pelicula)

Una Nueva Esperanza
El Imperio Contraataca
El Retorno del Jedi
La Amenaza Fantasma
La Guerra de los Clones
La Venganza de los Sith
El Despertar de la Fuerza
Los Ultimos Jedis
El Ascenso de Skywalker

In [13]:
print(pelicula)

El Ascenso de Skywalker

In [24]:
# Crear una lista con los primeros 100 numeros enteros al 2 usando for:

# 1. Crear una lista vacia:
num_cuadrados = []
for i in range(1, 101):
  num_cuadrados.append(i**2)
print(num_cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [41]:
# Manipulando zip con for:
# Compresión de listas
personas = ['Eder Lara', 'Helen Lara', 'Tania Rodriguez', 'Juan Porras']
anios = [39, 11, 40, 79]
# [('Eder Lara', 39), ('Helen Lara, 11)]
gente = zip(personas, anios)              # ('Eder Lara', 39), ('Helen Lara, 11)
# print(list(gente))

# Jugamos con los indices en el for:
for p,a in gente:
  print("Nombre: ", p, "\t Edad: ", a)

Nombre:  Eder Lara 	 Edad:  39
Nombre:  Helen Lara 	 Edad:  11
Nombre:  Tania Rodriguez 	 Edad:  40
Nombre:  Juan Porras 	 Edad:  79

# Ejercicios:


1.   Crear una variable numérica < 9 y > 4
2.   Crear una lista de números > -9
3.   Elevar todos los elementos de la lista anterior al cuadrado y agruparlos en una sola lista diferente.
4.   Crear una Secuencia con los números del 1 al 20
5.   Escribir un programa que solicite un valor entero al usuario y determine si es par o impar.
6.   En una empresa cada empleado debe teclear un código identificador de 3 cifras en la entrada. 
7.   Escribir un programa que muestre por pantalla la categoría del empleado teniendo en cuenta que:
 *  Si el código es divisible por 2, por 3 y por 5, la categoría del empleado es “Director general”.
  * Si el código es divisible por 3 y por 5 pero no por 2, la categoría del empleado es “Directivo”.
  * Si el código es divisible por 2, pero no por 3 ni por 5, la categoría del empleado es “Staff”.
  * Si el código no es divisible por 2, ni por 3 ni por 5, la categoría del empleado es “Seguridad”.  
  Recuerde que: Un numero X es divisible por otro Y; si X mod Y = 0.

8.    La fecha del domingo de Pascua corresponde al primer domingo después de la primera luna llena que sigue al
equinoccio de primavera. Dado un año, los cálculos que permiten conocer esta fecha son:
    * A = año %19
    * B = año % 4
    * C = año % 7
    * D = (19 * A + 24) % 30
    * E = (2 * B + 4 * C + 6 * D + 5) % 7
    * N = (22 + D + E)
Donde N indica el número del día del mes de marzo (o abril si N es superior a 31) correspondiente al domingo de Pascua. 

Escribir un programa que lea un año y muestre el día y el mes en el que se celebró o se celebrará el domingo de Pascua ese año. 
Utilizar una función a la que se le pase como parámetro el año y retorne el valor de N. El programa principal realiza el resto del proceso.